server {
    listen       80;
    server_name  ${CVAT_HOST};

    proxy_pass_header       X-CSRFToken;
    proxy_set_header        Host $http_host;
    proxy_pass_header       Set-Cookie;

    location ~* /cavt/api/.*|cavt/git/.*|cavt/analytics/.*|cavt/static/.*|cavt/admin(?:/(.*))?.*|cavt/documentation/.*|cavt/django-rq(?:/(.*))? {
        proxy_pass              http://127.0.0.1:8082;
    }

    location /cavt/ {
        proxy_pass              http://127.0.0.1:8081;
    }
}
